footer{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

footer p{
    font-size: .8em;
}

footer small{
    font-size: .7em;
    margin-top: 10px;
    color: var(--white);
}

footer small a{
    color: var(--white);
}